<div class="w3-padding">
<h2>Signup</h2>

<% if @user_exist %>
<p><span class="w3-text-red">Email already in use!</span>&nbsp;<a href="<%= login_path %>">Login as <%= @user.email %>?</a></p><br>
<% end %>
	<%= form_for @user do |f| %>
	<div class="w3-group">
		<%= f.text_field :first_name, class: "w3-input", style: "width:40%", required: true %>
		<%= f.label :first_name, class: "w3-label" %>
	</div>
	<div class="w3-group">
		<%= f.text_field :last_name, class: "w3-input", style: "width:40%", required: true %>
		<%= f.label :last_name, class: "w3-label" %>
	</div>
		<div class="w3-group">
		<%= f.email_field :email, class: "w3-input", style: "width:40%", required: true %>
		<%= f.label :email, class: "w3-label" %>
	</div>
	<div class="w3-group">
		<%= f.password_field :password, class: "w3-input", style: "width:40%", required: true %>
		<%= f.label :password, class: "w3-label" %>
	</div>
		<button class="w3-btn w3-deep-purple" type="submit" name="commit" value="Sign Up">Sign Up</button>
	<% end %>
</div>
