<div class="w3-row-padding w3-margin-top">
    <h2>Add new album</h2>
    <%= form_tag({controller: "albums", action: "create"}, method: "post", class: "w3-container w3-half") do %>
    <div class="w3-group">
    <%= text_field_tag "album[title]", @album.title, {class: "w3-input", style: "width:90%", required: true} %>
    <%= label_tag :title, nil, class: "w3-label" %>
    </div>
    <div class="w3-group">
    <%= text_field_tag "album[artist]", @album.artist, {class: "w3-input", style: "width:90%", required: true} %>
    <%= label_tag :artist, nil, class: "w3-label" %>
    </div>
    <div class="w3-group">
    <%= text_field_tag "album[year]", @album.year, {maxlength: 4, class: "w3-input", style: "width:90%", required: true} %>
    <%= label_tag :year, nil, class: "w3-label" %>
    </div>
    <div class="w3-group">
    <%= number_field_tag "album[cd_number]", @album.cd_number, {min: 1, max: 10, class: "w3-input", style: "width:90%", required: true} %>
    <%= label_tag :cd_number, "Number of CDs", class: "w3-label" %>
    </div>
     <div class="w3-group">
    <%= text_field_tag "album[genre]", @album.genre, {class: "w3-input", style: "width:90%", required: true} %>
    <%= label_tag :genre, "Style", class: "w3-label" %>
    </div>
     <div class="w3-group">
    <%= number_field_tag "album[tracks_num]", @album.tracks_num, {min: 1, max: 99, class: "w3-input", style: "width:90%", required: true} %>
    <%= label_tag :tracks_num, "Number tracks", class: "w3-label" %>
    </div>
     <div class="w3-group">
    <%= text_field_tag "album[label]", @album.label, {class: "w3-input", style: "width:90%", required: true} %>
    <%= label_tag :label, nil, class: "w3-label" %>
    </div>
     <div class="w3-group">
    <%= url_field_tag "album[image]", @album.image, {class: "w3-input", style: "width:90%", required: true} %>
    <%= label_tag :image, "Link to album cover", class: "w3-label" %>
    </div>
     <div class="w3-group">
    <%= url_field_tag "album[listen]", @album.listen, {class: "w3-input", style: "width:90%", required: true} %>
    <%= label_tag :listen, "Link to album on YouTube", class: "w3-label" %>
    </div>
    <button class="w3-btn w3-deep-purple" type="submit" name="commit" value="Create album" data-confirm="Are you sure?">Create album</button>  
    <% end %>
</div>