<!DOCTYPE html>
<html>
<head>
  <title>MarinAudioCollection</title>
  <%= stylesheet_link_tag 'http://www.w3schools.com/lib/w3.css' %>
  <%= stylesheet_link_tag 'http://www.w3schools.com/w3css/w3-theme-deep-purple.css' %>
  <%= stylesheet_link_tag 'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
</head>

<body>

<!-- Header -->
<header class="w3-container w3-deep-purple" id="myHeader">
  <h1>Marin's Audio Collection</h1>
</header>
<nav class="w3-topnav w3-large w3-deep-purple">
  <a href="<%= root_path %>"><i class="fa fa-home w3-large"></i></a>
  <% if current_user %>
    <%= current_user.email %>
    <%= link_to "Albums", albums_path %>
    <% if current_user.admin? %>
      <%= link_to "Add Album", new_album_path %>
    <% end %>
    <%= link_to "Log out", logout_path, method: 'delete' %>
  <% else %>
    <%= link_to "Login", login_path %>
    <%= link_to "Signup", signup_path %>
    <%= link_to "Admin Panel", "/admin" %>
  <% end %>
</nav>
<br>

<div class="w3-container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<%= yield %>

<br>
<!-- Footer -->
<footer class="w3-container w3-theme-dark">
  <h3>Marin's Audio Collection</h3>
  <p>This is a Rails 4 test app
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-dark">Go To Top</span>&nbsp;   
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>

  </p>
</footer>

<script src="http://www.w3schools.com/lib/w3codecolors.js"></script>

</body>
</html>
